@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom_blue: #4169e1;
  --custom_pink: #f83a89;
}

body {
  @apply font-outfit text-white bg-neutral-950;
}

body [data-pattern='stripes'] {
  --rgb: 255 255 255;
  --opacity: 0.1;
  --size: 6px 6px;
  background-image: linear-gradient(
    -45deg,
    rgb(var(--rgb) / var(--opacity)) 25%,
    transparent 25%,
    transparent 50%,
    rgb(var(--rgb) / var(--opacity)) 50%,
    rgb(var(--rgb) / var(--opacity)) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: var(--size);
}

body [data-pattern='dots'] {
  --size: 40px;

  opacity: 0.08;
  background-image: radial-gradient(white 2px, transparent 0px);
  background-size: var(--size) var(--size);
  background-position: left 5% top 0%;
}

.bg-radial {
  background: radial-gradient(
    circle at top,
    var(--custom_blue),
    transparent 60%
  );
}

.text-gradient {
  @apply bg-gradient-to-br from-custom_pink from-10% to-custom_blue to-90% bg-clip-text text-transparent;
}
